*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Raleway", sans-serif;
}

.grid{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    width: 90%;
    max-width: 1100px;
    height: 100%;
    margin: auto;
    gap: 10px;
    overflow: hidden;
    align-items: center;
}

.weigth-400{
    font-weight: 400;;
}
.weigth-600{
    font-weight: 600;
}

.parrafo{
    margin-bottom: 20px;
}
.header{
    height: 500px;
}
.img-hero{
    width: 100%;
    height: auto;
    grid-column: 7/13;

}

.img{
    width: 95%;
    max-width: 400px;
}
.textos-hero{
    grid-column: 1/7;
    padding-right: 20px;
}
.textos-hero p{
    text-align: justify;
}
.cta {
    width: 130px;
    background: #000 ;
    color: aliceblue;
    display: inline-block;
    text-align: center;
    padding: 10px,0;
    text-decoration: none;
    border-radius: 20px;
    transition: transform .2s;
}
.cta:hover{
    transform: scale(1.05);
    color: aqua;
}


.service{
    height: 370px;
    background: linear-gradient(180deg, #ffff 50%, #000 50%);
}
.items{
    grid-column: 1/-1;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content:space-evenly;
    align-items: center;
    flex-wrap: wrap;    
}
.item{
    width: 30%;
    background: #fff;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    height: 220px;
    padding: 20px 10px;
    text-align: center;
}
i{
    font-size: 40px;
}

.titulo-services{
    margin: 20px;
}

.about-us{
    background: #000;
    color: #fff;
    height: auto;
    padding-bottom: 60px;

}

.textos-about-us{
    grid-column: 1/-1;
    text-align: center;

}
.textos-about-us .parrafo{
    color: #ccc;
    margin-top: 10px;
}
.numbers{
    grid-column: 1/-1;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.number{
    text-align: center;
    font-size: 30px;
    width: 22%;
}

.mission{
    padding: 80px 0;
}

.textos-mission{
    grid-column: 7/13;
    grid-row: 1/-1;
    margin-bottom: 20px;
}
.img-mission{
    grid-column: 1/7;
    grid-row: 1/-1;
}
.texto-mission{
    padding: 20px;
}
footer{
    background: #000;
    color: #fff;
    text-align: center;
    padding: 60px 0;
}
.textos-footer{
    grid-column: 1/-1;
    padding-bottom: 20px;
    margin-bottom: 20px;
}


[class^="footer-items"] a{
    color: azure;
    
    
}
[class^="footer-items"]{
    grid-column: span 3;
}

@media screen  and (max-width: 800px){
    .header{
        height: auto;
    }
    .grid{
        grid-gap: 30px;
    }
    .img-hero, .textos-hero{
        grid-column: 1/-1;

    }
    .img-hero{
        text-align: center;
    }
    .textos-hero{
        margin-top: 40px;
    }
    .service{
        height: auto;
        margin-top: 40px;
    }
    .item{
        width: 60%;
        margin: 40px 0;
        height: auto;
        padding: 40px;
    }
    .img-mission{
        grid-column: 1/-1;
        grid-row: 2/3;
        text-align: center;
    }
    .textos-mission{
        grid-column: 1/-1;
        grid-row: 1/2;
        align-self: center;
    }
    
}

@media screen  and (max-width: 400px){
    .img{
        max-width: 170px;
    }
    .grid{
        grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    }
    .item{
        width: 90%;
    }
    .number{
        width: 55%;
        border-bottom: 1px dotted #fff;
        margin-bottom: 20px;

    }
    .textos-mission h3{
        margin-bottom: 15px;
    }
    .textos-footer{
        text-align: center;
    }
}